## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## PROJECT::GENERAL
coverage
rdoc
pkg

## PROJECT::SPECIFIC
snap/*.png
spatiala.xcodeproj/TyounanMOTI.mode1v3
spatiala.xcodeproj/TyounanMOTI.pbxuser
spatiala.xcodeproj/project.pbxproj
